body {
    background-color: lightgrey;
    font-family: Tahoma, Verdana, sans-serif;
}

h1 {
    color: green;
    margin-bottom: 35px;
    margin-top: 15px;
}

form {
    margin-top: 50px;
}

#go_to_login, #go_to_signup {
    text-decoration: none;
    padding-top: 25px;
    color: black;
}

#go_to_signup:hover {
    color: blue;
}

#go_to_login:hover {
    color: blue;
}

#welcome_guest, #welcome_user {
    margin-left: 450px;
}

#nfl_games, #mlb_games, #ncaaf_games {
    margin: auto;
}

#glossary {
    margin-top: 50px;
}