{% extends 'base.html' %}


{% block content %}
<div class="container d-flex justify-content-center">
    <h1>Sign Up Today!</h1>
</div>

<form class="container" method="POST">
    {{ form.hidden_tag() }}

    {{ form.first_name(class='form-control', placeholder='First Name') }}
    {{ form.last_name(class='form-control', placeholder='Last Name') }}
    {{ form.email(class='form-control', placeholder='Email') }}
    {{ form.username(class='form-control', placeholder='Username') }}
    {{ form.password(class='form-control', placeholder='Password') }}
    {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
    {{ form.submit(class='btn btn-primary') }}
</form>

<div class="container d-flex justify-content-center" >
    <a id="go_to_login" href="{{ url_for('auth.login') }}">Aready Have An Account</a>
</div>
<br>
<div class="container d-flex justify-content-center">
    <img src="https://cdn.sportsbettingdime.com/app/uploads/sbd-feat-redsportsodds.jpg" alt="">
</div>

{% endblock %}