{% extends 'base.html' %}

{% block content %}
    <h1 class="container d-flex justify-content-center">Know The Terms</h1>

<div class="container col-8" id="glossary">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    How to read the point spread
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Perhaps the most common question newcomers have when they see sportsbook odds is, "What do the numbers mean?"
                    <br>
                    <br>
                    While the plus and minus signs might look confusing at first, they are easily explained. Take the following listing you might see in a sportsbook:
                    <br><br>
                    456 Cowboys
                    <br><br>
                    457 Giants -3
                    <br><br>
                    In this example, the Giants are three-point favorites vs. the Cowboys. The spread is essentially a mathematical formula used to bridge the talent gap between teams and incentivize potential bettors into considering both sides.
                    <br><br>
                    The spread is a handicap that requires the favored team to win the game by an ascribed number of points in order for the bettor to win a wager on that team.
                    <br><br>
                    So if you wish to wager on the Giants, you'd be giving up or "laying" three points with them. This means they would have to win by four or more to cover the spread and make your wager a winner.
                    <br><br>
                    Those backing the Cowboys are betting on the underdog, and thus "taking" the points. Their tickets would read: Cowboys +3.
                    <br><br>
                    This means, in order for the wager to win, the Cowboys would need to lose the game by fewer than three points, or win outright.
                    <br><br>
                    In the above example, the Giants winning by exactly three points would result in a push, and all wagers would be refunded.
                    <br><br>
                    The number to the direct left of the teams is called the "rotation" number. This is simply the universal record-keeping system for sportsbooks to track bets on each team. When you place a wager, you give the sportsbook ticket writer the rotation number of the team you are selecting instead of announcing the team name.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    What is the over-under?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">In addition to picking a side against the point spread, bettors have the option of wagering on the over-under or "total."
                    <br><br>
                    The total is the predicted number of points that will be scored in the contest. Oddsmakers create totals after taking into account the average of what both teams score and allow per game, along with other mitigating factors such as the venue or key injuries.
                    <br><br>
                    For example, along with seeing the point spread on the betting menu, you will see a large number near the spread. It might look like this:
                    <br><br>
                    456 Cowboys 46
                    <br><br>
                    457 Giants -3
                    <br><br>
                    You'll see the spread is almost always delineated with the minus symbol and spread number corresponding directly to the favored team. The over-under is usually noted on the same line where the underdog is listed, but with a bit of separation from the team name so that it is not confused with the point spread.
                    <br><br>
                    In our example, 46 points is the posted total between the Cowboys and Giants. If you wish to wager on the total, you would pick the rotation number of either team and inform the sportsbook writer that your intention is to bet Over or Under only on the posted total.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    What is the difference between the money line and point spread?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">In addition to wagering on either the point spread or total, bettors almost always have the option of placing a money-line wager.
                    <br><br>
                    A money-line wager simply removes the point spread from the equation, and notes that you are wagering on a specific team to win the game.
                    <br><br>
                    Money-line wagers don't carry the standard 10 percent vigorish -- $110 to win $100 – and instead simply involve a "price" on each team to win. The money-line price on each team is usually noted on the wagering menu to the far right of each team listed. A typical example would look like:
                    <br><br>
                    456 Cowboys 46 +150
                    <br><br>
                    457 Giants -3 -170
                    <br><br>
                    In this example, the Giants are not only three-point favorites against the spread, they are -170 favorites to win straight up on the money line. So if you were confident they would win but it might be close, you would pay $170 to win $100 on the Giants to simply win.
                    <br><br>
                    Conversely, money-line wagers on the underdog are popular because sportsbook customers can get a return that exceeds their original wager. In our example, the Cowboys are +150 underdogs to win outright.
                    <br><br>
                    If you wish to place this wager, you would be passing up the option of taking the points and winning the bet if the Cowboys lose by fewer than three. They must win in order for your bet to cash, but the incentive is the handsome payout. In this example, a $100 wager would win $150 for a total return of $250, instead of the standard point-spread bet of $110 to win $100 with a return of $210.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    What is a parlay?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Parlays are popular wagers among bettors because of the appeal of potentially winning a good sum with a minimal investment. It's a widespread belief that parlays are mostly done by novice bettors, but experienced handicappers are known to play them as well.
                    <br><br>
                    Parlays involve the selection of two or more propositions on a single wager, and all of the teams must win for the bet to become a winner. For instance, if you pick five teams on a parlay and four cover the spread, the bet is a loser.
                    <br><br>
                    Sportsbooks welcome parlays because of their significant house edge. For instance, the true odds on a two-team parlay are 4-to-1, but most betting outlets pay 2.6-to-1 on the wager. The true odds on a three-leg parlay are 9-to-1, though the standard payout is 6-to-1.
                    <br><br>
                    Even so, the potential for winning more than the initial investment has proven irresistible to most sports bettors. If you put $100 on a two-team parlay and win, your profit will be $260 for a total return of $360.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    What is a pick-'em?
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">In general, home-field advantage in the NFL is worth around 3 points. However,
                    oddsmakers might find the visiting team to be slightly better than the home team. Thus, the spread could close
                    as a pick-'em, which means there is no spread and neither team is favored. All a bettor has to do to is pick the winning
                    side. It's like the moneyline in that regard, only the moneyline prices in a pick-'em would be exactly the same (usually -110).
                    It's fairly rare for NFL or NBA games to close at a pick'em but it does happen.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    What is straight up?
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">When researching a game, bettors will often find two records listed for each team: SU & ATS.
                    The latter means against the spread. The former is straight up, which simply means a win-loss record like you would see looking at the NFL or NBA standings.
                    Betting results are not related to straight-up records. It's very possible for a team's straight-up record to be vastly different than its ATS record.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    What is a futures bet?
                </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Futures bets are wagers on a team's or player's predicted performance in a game or season.
                    The most popular futures wagers are betting on a team to win a championship, betting over or under a team's win total,
                    or betting on a player to win MVP or the Heisman Trophy. Futures odds usually do not stretch out more than a calendar year.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    What is chalk?
                </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">If you hear someone say they are betting chalk, that's simply the favored side.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    What is a dog?
                </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">If you hear someone say they are betting the dog, that's simply the underdog side.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                    What is a betting limit?
                </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A limit is the most money a sportsbook will take on a certain event.
                    For major events like the Super Bowl or a national championship game, there are generally no limits on the spread or total.
                    However, lower-tier football or basketball games can have a limit because the book wants to limit its liability.
                    There's only so much homework even the sportsbooks can do on late-night Big West Conference basketball games, for example, so there's only
                    so much money a sportsbook will take on a game like that. In the NFL, sportsbooks often take lower limits early in the week and bigger amounts closer to kickoff.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                    What does it mean to be a lock?
                </button>
            </h2>
            <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">The word "lock" should never be used when referring to a bet.
                    It's a dangerous word that means a sure bet. Is it a lock that Alabama will beat The Citadel in college football? Certainly,
                    but miracles do happen. Remember Chaminade over Ralph Sampson and No. 1 Virginia in college basketball? On Nov. 26, 2019,
                    Duke was a nearly 30-point home favorite in NCAA hoops to Stephen F. Austin and the Blue Devils lost outright.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwelve">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                    What is a runline in baseball?
                </button>
            </h2>
            <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Similar to the puckline, the runline acts as a spread in baseball. 
                    The favorite on the moneyline to win the game outright would be -1.5 on the runline, while the underdog on the moneyline would be +1.5. 
                    However, in many cases the moneyline favorite will return a plus-money payout at -1.5 on the runline because most games are decided by one run. 
                    If a team is massively favored on the moneyline, it also can be favored at -1.5 on the runline. Many books will offer alternate runlines of 2.5 or even 3.5 
                    but the prices change dramatically.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThirteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                    What is hedging?
                </button>
            </h2>
            <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Hedging is placing wagers on both sides of a game or event to assure at least a small profit or minimal loss. 
                    This is often done with futures bets. For example, someone might have placed a $100 bet on Nick Bosa at +2000 to win Super Bowl MVP but then hedged 
                    by placing another $100 on Patrick Mahomes at +150. If Mahomes won, it would have returned $250 -- the $100 wager plus the $150 profit. 
                    Then subtract the $100 wagered on Bosa. So, a bettor wagered $200 overall and won $50. Hedging during games is also popular. 
                    Perhaps someone bet on the 49ers to win Super Bowl LIV. The Chiefs opened as favorites but would have been sizable underdogs down 20-10 in the fourth quarter. 
                    They still would have been dogs when it was 20-17. In retrospect, that would have been a good time to bet the Chiefs as a hedge against the original 49ers bet.</div>
            </div>
        </div>
    </div>
</div>




{% endblock %}