{% extends 'base.html' %}

{% block content %}


<h1></h1>
<div class="container row">
    {% for game in nfl %}
    <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/vectors/football-vector-id165813448?k=20&m=165813448&s=612x612&w=0&h=WSJbnlpjmcy0haVzzIexQqD4rkZXFCxrUep4pYvt94k=" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ game.Match[0] }} VS. {{ game.Match[1] }}</h5>
            <p class="card-text">Time: {{ game.Game_Time }}</p>
            <p class="card-text">{{ game.Favorite }} {{ game.Odds }}</p>
            <a href="/game/{{ game.match_up }}" class="btn btn-primary">More Odds</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}