{% extends 'base.html' %}

{% block content %}

<h1 class="container d-flex justify-content-center">MLB Odds</h1>

<div class="container row d-flex justify-content-around" id="mlb_games">
    {% for game in mlb %}
    <div class="card" style="width: 18rem;">
        <img src="https://img.mlbstatic.com/mlb-images/image/private/t_16x9/t_w1024/mlb/o1cmus6dshrkbne2vue5" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ game.Match[0] }} VS. {{ game.Match[1] }}</h5>
            <p class="card-text">Time: {{ game.Game_Time }}</p>
            <p class="card-text">{{ game.Favorite }} {{ game.Odds }}</p>
            <a href="#" class="btn btn-primary">Follow</a>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}